---
---
@import "normalize";

@import "bourbon/bourbon";
@import "base/base";

$visual-grid: false !default;
$grid-columns: 8 !default;
@import "neat/neat";

@import "solarized";
@import "highlight";

@for $i from 1 through 6 {
  h#{$i} { font-size: modular-scale(6 - $i); }
}

body {
  @include span-columns(6);
  @include shift(1);
  background-color: $base3;
  color: $base03;
};

header {
  margin-top: modular-scale(4);
  margin-bottom: modular-scale(1);
}

pre {
  padding: modular-scale(-1);
}

a, a:active, code.url { color: $blue; }
a:visited { color: $violet; }
