---
---
@import "normalize";

@import "bourbon/bourbon";

// $visual-grid: true !default;
$grid-columns: 8 !default;
@import "neat/neat";

@import "reset";

$base-line-height: 1.5;
$heading-line-height: 1.2;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

@import "layout";

@import "solarized";
@import "typography";
@import "highlight";

article {
  header {
    h1 { margin-bottom: 0; }
    p.subtitle { font-style: italic; }
  }
}
