[submodule "vendor/normalize.css.git"]
	path = vendor/normalize.css
	url = https://github.com/necolas/normalize.css.git
[submodule "vendor/bourbon"]
	path = vendor/bourbon
	url = https://github.com/thoughtbot/bourbon.git
[submodule "vendor/bitters"]
	path = vendor/bitters
	url = https://github.com/thoughtbot/bitters.git
[submodule "vendor/neat"]
	path = vendor/neat
	url = https://github.com/thoughtbot/neat.git
