<!DOCTYPE html>
<html>
<head>
  <link href="/syntax.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans|Source+Code+Pro" rel="stylesheet">
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 1em 12.5%;
      background-color: #002b36;
      color: #93a1a1;
    }
    pre {
      font-family: 'Source Code Pro', monospace;
      margin: 0;
    }
  </style>
</head>
<body>
  <div id="slide" class="<%= layout %>">
    <%= doc.to_html %>
  </div>
  <script>
    document.onkeydown = function(e) {
        e = e || window.event;
        if(e.key == ' ' || e.key == 'ArrowRight' || e.key == 'ArrowDown') {
          document.location.href = "<%= n + 1 %>";
        }
        if(e.key == 'ArrowLeft' || e.key == 'ArrowUp') {
          document.location.href = "<%= n - 1 %>";
        }
    };
  </script>
</body>
</html>
