<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/syntax.css" rel="stylesheet" type="text/css">
    <style type="text/css">
body { padding-left: 12.5%; font-size: 1.2rem; line-height: 1.7rem; }
article { width: 55%; }
pre { overflow-x: scroll; }
img { display: block; width: 90%; margin: auto; }
    </style>
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    {{ content }}
  </body>
</html>
